@model TasksPageViewModel
@{
    ViewData["Title"] = "Tasks";
}

<h1>Tasks</h1>

@if (TempData.ContainsKey("Message"))
{
    <div class="alert alert-primary alert-dismissible fade show" role="alert">
        @TempData["Message"]
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}

<div class="row">

    <div class="col-md-4">
        <button data-toggle="modal" data-target="#listModal" class="btn btn-outline-primary w-100">Add new list</button>
        <div class="list-group">
            @foreach (var item in Model.ToDoLists)
            {
                <a 
                   asp-controller="Home" 
                   asp-action="Tasks" 
                   asp-route-id="@item.Id" 
                   style="border-left: 10px solid @item.Color" 
                   class="@(Model.CurrentListId == item.Id ? "active" : "") list-group-item d-flex justify-content-between align-items-center">
                    @item.Title
                    <span class="badge badge-primary badge-pill">0</span>
                </a>
            }
        </div>
    </div>

    <div class="col-md-8">
        <button data-toggle="modal" data-target="#itemModal" class="btn btn-outline-primary w-100">Add new task</button>
        <div class="list-group">
            @foreach (var item in Model.CurrentListToDoItems)
            {
                <a href="#" class="list-group-item list-group-item-action">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">@item.Title</h5>
                        <small>@item.Deadline</small>
                    </div>
                    <p class="mb-1">@item.Description</p>
                    <small>@item.Priority</small>
                </a>
            }
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="listModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <form asp-controller="Home" asp-action="AddList" method="post" class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add list</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label asp-for="NewList.Title"></label>
                    <input asp-for="NewList.Title" class="form-control">
                    <span asp-validation-for="NewList.Title" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="NewList.Color"></label>
                    <input type="color" asp-for="NewList.Color" class="form-control">
                    <span asp-validation-for="NewList.Color" class="text-danger"></span>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Save changes</button>
            </div>
        </form>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="itemModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <form asp-controller="Home" asp-action="AddItem" method="post" class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add task</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label asp-for="NewItem.Title"></label>
                    <input asp-for="NewItem.Title" class="form-control">
                    <span asp-validation-for="NewItem.Title" class="text-danger"></span>
                </div>
            </div>
            <input type="hidden" asp-for="NewItem.ToDoListId" value="@Model.CurrentListId" />
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Save changes</button>
            </div>
        </form>
    </div>
</div>